<header class="masthead mb-auto">
    <div class="inner">
        <h1 class="masthead-brand">{{ app_name }}</h1>
        <nav class="nav nav-masthead justify-content-center">
            {#
            <a class="nav-link {{ current_route =='home' ? 'active'}}" href="{{ path_for('home') }}"><i title="home" class="fas fa-home"></i> Home</a>
            <a class="nav-link {{ current_route =='vis.calendar' ? 'active'}}" href="{{ path_for('vis.calendar') }}"><i class="fas fa-calendar-alt"></i> Calendar</a>
            #}

            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                <div class="btn-group mr-2" role="group" aria-label="Home">
                    <a class="nav-link {{ current_route =='home' ? 'active'}}" href="{{ path_for('home') }}">
                        <i title="home" class="fas fa-home"></i> Home</a>
                </div>
                {% if auth.check %}
                <div class="btn-group mr-2" role="group" aria-label="Sleep">
                    <button type="button" class="btn" disabled>Sleep</button>
                    <a class="btn btn-secondary {{ current_route =='vis.calendar' ? 'active'}}" href="{{ path_for('vis.calendar') }}">
                        <i class="fas fa-calendar-alt"></i></a>
                    <a class="btn btn-secondary {{ current_route =='vis.horizon' ? 'active'}}" href="{{ path_for('vis.horizon') }}">
                        <i class="fas fa-chart-area"></i></a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Diet">
                    <button type="button" class="btn" disabled>Diet</button>
                    <a class="btn btn-secondary {{ current_route =='vis.diet.time' ? 'active'}}" href="{{ path_for('vis.diet.time') }}">
                        <i class="fas fa-th"></i></a>
                    <a class="btn btn-secondary {{ current_route =='vis.diet.staple-week' ? 'active'}}" href="{{ path_for('vis.diet.staple-week') }}">
                        <i class="fas fa-globe"></i></a>
                    <a class="btn btn-secondary {{ current_route =='vis.diet.intake-week' ? 'active'}}" href="{{ path_for('vis.diet.intake-week') }}">
                        <i class="fas fa-chart-pie"></i></a>
                </div>
                <div class="btn-group mr-2" role="group" aria-label="Mood">
                    <a class="btn btn-secondary {{ current_route =='vis.diet.menu' ? 'active'}}" href="{{ path_for('vis.diet.menu') }}">
                        <i class="fas fa-utensils"></i></a>
                </div>
                {% endif %}
                {#
                <div class="btn-group" role="group" aria-label="Help">
                    <a class="btn nav-link" href="#"><i class="fas fa-info-circle"></i> About</a>
                </div>
                #}
                <div class="btn-group" role="group" aria-label="Help">
                    {% if not auth.check %}
                    <a class="btn btn-secondary" href="{{ path_for('user.login') }}" title="Login"><i class="fas fa-sign-in-alt"></i></a>
                    {% elseif auth.isAdmin %}
                        <a class="btn btn-secondary" href="{{ path_for('user.logout') }}" title="Logout"><i class="fas fa-user-cog"></i>
                            <i class="fas fa-sign-out-alt"></i></a>
                    {% else  %}
                        <a class="btn btn-secondary" href="{{ path_for('user.logout') }}" title="Logout"><i class="fas fa-user"></i>
                            <i class="fas fa-sign-out-alt"></i></a>
                    {% endif %}
                </div>
            </div>

        </nav>
    </div>
</header>
